body
{
	margin: 0;
	padding: 0;
    color: #333333;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: italic;
    color: #162D50;
    margin: 0px;
    padding: 0px;
}

h1 { font-size: 32px; margin-bottom: 1em; }
h2 { font-size: 20px; }
h3 { font-size: 16px; color: #5F8DD3; } /* Medium blue */
h4 { font-size: 16px; color: #333333; }
h5 { font-size: 12px; color: #000000; font-style: normal; }
h6 { font-size: 10px; color: #999999; }

hr {
    background: none repeat scroll 0 0 #999999;
}

hr.break {
    margin: 5px auto;
    width: 95%;
}

.white-bg {
    background-color: #ffffff;
}

#page
{
    width: 1000px;
    margin: 0 auto;
}

#header
{
	margin: 0;
	padding: 0;
    height: 76px;
    background: url(../images/navbg.png) repeat-x left top;
}

#main {
	background: #FFFFFF;
}

#mission-statement
{
    margin: 15px  auto;
    text-align: center;
    font-size: 12pt;
    font-family: "Eras Medium ITC", "Lucida Sans", "Lucida Grande", sans-serif;
}

#content
{
    float: left;
    min-height: 800px;
    width: 730px;
}

#sidebar
{
    float: right;
    min-height: 800px;
    width: 250px;
}

#footer
{
    clear: both;
    margin-top: 20px;
    height: 76px;
	text-align: center;
    line-height: 38px;
    color: #ffffff;
    background: url(../images/navbg.png) top left repeat-x;
}

#logo
{
    float: left;
    position: relative;
    top: 13px;
    left: 13px;
}

#accnt-box
{
    float: right;
    margin: 10px;
}

/* Navbar styles */
#mainmenu
{
}

#mainmenu ul
{
    float: right;
	margin: 49px 0 0 0;
    padding: 0px;
    list-style-type: none;
}

#mainmenu ul li
{
    display: inline-block;
    float: left;
    padding: 6px 8px 5px 8px;
    margin: 0px 2px;
    color: #ffffff;
    line-height: 16px;
    /*
    border-radius: 10px 10px 0 0;
    */
}

#mainmenu ul li:hover, #mainmenu ul li.active
{
	color: #162D50;
	background-color:#FFFFFF;
	text-decoration:none;
}

#mainmenu ul li a
{
    color: inherit;
	background-color:transparent;
    font-family: "Eras Medium ITC", "Lucida Sans", "Lucida Grande", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration:none;
}

/* Sidebar styles */

#recent-news {
}

#market-status {
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.block {
    display: block;
}

/** HOME PAGE STYLES **/
#column-box {
    margin-top: 40px;
}

#column-box .two-column {
    display: inline-block;
}

#column-box a {
    color: inherit;
}

#column-box h2 a {
    text-decoration: none;
    line-height: 20px;
    cursor: default; /* TODO: cursor */
}

#column-box h3 {
    margin-left: 50px;
    margin-bottom: 5px;
}

#column-box .home-img-box {
    height: 250px;
    position: relative;
}

#column-box .home-img-box {
    display: table-cell;
    vertical-align: bottom;
}


/** Sidebar styles **/

/* Recent News */

#sidebar #newsfeed {
    margin: 5px 0 0 0;
    padding: 0;
    border: 0;
}

#sidebar #newsfeed tr {
    border: 1px solid red;
}

#sidebar #newsfeed td {
    margin: 0;
    padding: 0;
}

#sidebar #newsfeed td.text {
    padding-left: 5px;
}

#sidebar #newsfeed img {
    max-width: 76px;
    max-height: 76px;
}

#sidebar #newsfeed a {
    text-decoration: underline;
    color: inherit;
}

#sidebar #newsfeed h5 {
    line-height: 12px;
    font-weight: normal;
    font-size: 11px;
}

#sidebar #newsfeed p {
    font-weight: normal;
    color: #999999;
    margin: 5px 0 0 0;
    font-size: 11px;
}

/* Market Summary */

#sidebar #market-status h2 {
    margin: 10px 0;
}

#sidebar .graph-box {
    border: 1px solid #999999;
    margin-bottom: 20px;
}

#sidebar .graph-title-box {
    margin-top: 5px;
    margin-left: 5px;
}

#sidebar .graph-title-box h5 {
    line-height: 12px;
}

#sidebar .graph-title-box h6 {
    line-height: 10px;
    margin-left: 20px;
}

#sidebar .jqplot-target {
    width: 269px;
    height: 125px;
    right: 10px;
}

#sidebar .jqplot-grid-canvas {
    display: none;
}

/* About page styles */

#about-me {
    border: 2px solid #333333;
    padding: 20px;
    height: 300px;
    margin-bottom: 20px;
}

#about-me #profile-pic {
    width: 300px;
    height: 300px;
    border: 2px solid #999999;
}

#about-me #profile-txt {
    margin-left: 324px;
    text-align: justify;
    padding-right: 10px;
}

#about-me #profile-txt h1 {
    margin-bottom: 20px;
}

#about {
    position: relative;
    width: 715px;
}

#about .title {
}

#about .title hr {
    position: absolute;
    margin: 16px auto;
}

#about .title h1 {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    padding-right: 20px;
}

#about .service {
    color: #333333;
}

#about .service .subheading {
    margin-bottom: 10px;
}

#about .service table {
    margin-bottom: 30px;
}

#about .service td {
    margin: 0;
    padding: 0;
    text-align: justify;
}

#about .service p {
    margin-bottom: 1em;
}

#about .service .service-img {
    border: 2px solid #999999;
    border-radius: 7px;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
}

#about .service .right-img {
    margin: 0 0 0 10px;
}

#about #logo-img {
    width:  170px;
    height: 170px;
    float: left;
}

#about #logo-txt {
    margin-left: 190px;
    text-align: justify;
}

#invest {
    width: 715px;
}

#invest h1 {
    margin-bottom: 0.5em;
}

#invest p {
    text-align: justify;
}
